.sweet-alert {
    /* HTML5 display-role reset for older browsers */
    /* Switch button */
}

.sweet-alert div,
.sweet-alert span,
.sweet-alert applet,
.sweet-alert object,
.sweet-alert iframe,
.sweet-alert h1,
.sweet-alert h2,
.sweet-alert h3,
.sweet-alert h4,
.sweet-alert h5,
.sweet-alert h6,
.sweet-alert p,
.sweet-alert blockquote,
.sweet-alert pre,
.sweet-alert a,
.sweet-alert abbr,
.sweet-alert acronym,
.sweet-alert address,
.sweet-alert big,
.sweet-alert cite,
.sweet-alert code,
.sweet-alert del,
.sweet-alert dfn,
.sweet-alert em,
.sweet-alert img,
.sweet-alert ins,
.sweet-alert kbd,
.sweet-alert q,
.sweet-alert s,
.sweet-alert samp,
.sweet-alert small,
.sweet-alert strike,
.sweet-alert strong,
.sweet-alert sub,
.sweet-alert sup,
.sweet-alert tt,
.sweet-alert var,
.sweet-alert b,
.sweet-alert u,
.sweet-alert i,
.sweet-alert center,
.sweet-alert dl,
.sweet-alert dt,
.sweet-alert dd,
.sweet-alert ol,
.sweet-alert ul,
.sweet-alert li,
.sweet-alert fieldset,
.sweet-alert form,
.sweet-alert label,
.sweet-alert legend,
.sweet-alert table,
.sweet-alert caption,
.sweet-alert tbody,
.sweet-alert tfoot,
.sweet-alert thead,
.sweet-alert tr,
.sweet-alert th,
.sweet-alert td,
.sweet-alert article,
.sweet-alert aside,
.sweet-alert canvas,
.sweet-alert details,
.sweet-alert embed,
.sweet-alert figure,
.sweet-alert figcaption,
.sweet-alert footer,
.sweet-alert header,
.sweet-alert hgroup,
.sweet-alert menu,
.sweet-alert nav,
.sweet-alert output,
.sweet-alert ruby,
.sweet-alert section,
.sweet-alert summary,
.sweet-alert time,
.sweet-alert mark,
.sweet-alert audio,
.sweet-alert video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: static;
}

.sweet-alert article,
.sweet-alert div,
.sweet-alert footer,
.sweet-alert header,
.sweet-alert main,
.sweet-alert nav,
.sweet-alert section,
.sweet-alert #react-root {
    display: block;
}

.sweet-alert article,
.sweet-alert aside,
.sweet-alert details,
.sweet-alert figcaption,
.sweet-alert figure,
.sweet-alert footer,
.sweet-alert header,
.sweet-alert hgroup,
.sweet-alert menu,
.sweet-alert nav,
.sweet-alert section {
    display: block;
}

.sweet-alert body {
    line-height: 1;
}

.sweet-alert ol,
.sweet-alert ul {
    list-style: none;
}

.sweet-alert blockquote,
.sweet-alert q {
    quotes: none;
}

.sweet-alert blockquote:before,
.sweet-alert blockquote:after,
.sweet-alert q:before,
.sweet-alert q:after {
    content: '';
    content: none;
}

.sweet-alert table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sweet-alert .css-spy-result {
    text-align: left;
}

.sweet-alert .css-spy-value {
    padding: 3px 0;
    padding-left: 30px;
    display: block;
}

.sweet-alert .css-spy-content {
    padding: 0 29px;
    font-size: 15px;
}

.sweet-alert .css-spy-content * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

.sweet-alert .css-spy-compare .css-spy-meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sweet-alert .css-spy-compare .css-spy-meta:last-of-type {
    display: none;
}

.sweet-alert .css-spy-compare .css-spy-meta span {
    display: none;
}

.sweet-alert .css-spy-compare-element:first-child .css-spy-meta:before {
    content: "Compared";
    font-weight: 600;
}

.sweet-alert .css-spy-settings {
    text-align: left;
}

.sweet-alert .css-spy-settings-label {
    font-weight: 600;
    margin-bottom: 10px;
}

.sweet-alert .css-spy-compare-element:last-child .css-spy-meta:before {
    content: "Current Element";
    font-weight: 600;
}

.sweet-alert .css-spy-meta {
    color: #434343;
    margin-bottom: 5px;
}

.sweet-alert .css-spy-color {
    width: 10px;
    border-radius: 50%;
    height: 10px;
    display: inline-block;
}

.sweet-alert .css-spy-tabs {
    padding: 0 29px;
    margin-bottom: 10px;
}

.sweet-alert .css-spy-tabs:before,
.sweet-alert .css-spy-tabs:after {
    display: table;
    content: "";
    line-height: 0;
}

.sweet-alert .css-spy-tabs:after {
    clear: both;
}

.sweet-alert .css-spy-tab {
    float: left;
    width: 33.3%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 8px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: -1px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.sweet-alert .css-spy-content > div {
    min-height: 230px;
    max-height: 270px;
    overflow: auto;
    margin-top: 20px;
}

.sweet-alert .css-spy-tab.active {
    border-bottom: 0;
    border-top: 4px solid #8cd4f5;
    margin-top: -3px;
    font-weight: 400;
}

.sweet-alert .css-spy-tab:first-child {
    margin-left: 0;
}

.sweet-alert .css-spy-value:nth-of-type(even) {
    background: #F8F8F8;
}

.sweet-alert .css-spy-compare-inner {
    overflow: hidden;
    box-sizing: border-box;
}

.sweet-alert .css-spy-compare-element {
    float: left;
    width: 50%;
    padding-right: 10px;
}

.sweet-alert .css-spy-compare-element:last-child {
    padding-right: 0;
    padding-left: 10px;
}

.sweet-alert .css-spy-compare-element .css-spy-result {
    padding: 0;
}

.sweet-alert .css-spy-prop {
    font-weight: 400;
    color: #618DA1;
}

.sweet-alert .css-spy-settings-lists > div {
    padding: 7px;
    overflow: hidden;
}

.sweet-alert .css-spy-settings-lists > div:nth-of-type(even) {
    background-color: #f8f8f8;
}

.sweet-alert .css-spy-switch-button {
    float: right;
}

.sweet-alert .css-spy-onoffswitch {
    position: relative;
    width: 40px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sweet-alert .css-spy-settings-lists > div > label {
    display: inline-block;
}

.sweet-alert .css-spy-compared-reset {
    text-align: right;
    padding: 10px 0;
    padding-top: 0;
}

.sweet-alert .css-spy-compared-reset > span {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    color: #27789D;
}

.sweet-alert .css-spy-settings-lists label {
    cursor: pointer;
    font-weight: 300;
}

.sweet-alert .css-spy-compare .css-spy-same {
    background: #CAE7F4;
    border-bottom: 1px solid #BAD5E1;
}

.sweet-alert .css-spy-compare .css-spy-same:last-child {
    border: 0;
}

.sweet-alert .css-spy-onoffswitch-checkbox {
    display: none;
}

.sweet-alert .css-spy-onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #EEEEEE;
    border-radius: 50px;
}

.sweet-alert .css-spy-onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.sweet-alert .css-spy-onoffswitch-inner:before,
.sweet-alert .css-spy-onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 21px;
    padding: 0;
    line-height: 67px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.sweet-alert .css-spy-onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #EEEEEE;
    color: #FFFFFF;
}

.sweet-alert .css-spy-onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.sweet-alert .css-spy-onoffswitch-switch {
    display: block;
    height: 22px;
    width: 22px;
    right: 13px;
    margin: 1.5px;
    background: #4D4D4D;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 2px solid #EEEEEE;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.sweet-alert .css-spy-onoffswitch-checkbox:checked + .css-spy-onoffswitch-label .css-spy-onoffswitch-inner {
    margin-left: 0;
}

.sweet-alert .css-spy-onoffswitch-checkbox:checked + .css-spy-onoffswitch-label .css-spy-onoffswitch-switch {
    right: 0px;
    background-color: #27A1CA;
}
